* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFF;
  
    --dark-2: #111111;
    --dark-3: #232323;
    --dark-7: #696969;
    --dark-12: #F1F1F1;

}

input, textarea, button {
    font: 500 1rem Risque, sans-serif;
    color: var(--dark-3);
    display: block;
    border: none;
    background-color: transparent;
}


input:focus-visible {
    outline: none;
}

label {
    font-weight: 400;
    font-family: Risque, sans-serif;
    color: var(--dark-12);
    display: block;
    font-size: 1.25rem;
}

nav {
    height: 5vh;
    background: var(--dark-12);
    padding: 0 10rem;
}

nav .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav .navigation-check {
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    display: none;
}

nav .navigation-check input {
    display: none;
}

a {
    text-decoration: none;
    color: var(--dark-3);
}

a + a {
    margin-left: 2rem;
}

main {
    height: 95vh;
    background: var(--dark-3);
    color: var(--dark-12);
    padding: 1rem 10rem;
}

@media (min-width: 1081px){
    html {
        font-size: 100%;
    }
}

@media (max-width: 1080px){
    html {
        font-size: 97.75%;
    }

    nav {
        padding: 0 5rem !important;
    }

    main {
        padding: 0 5rem !important;
    }
}

@media (max-width: 720px){
    html {
        font-size: 87.5%;
    }


    nav {
        padding: 0 2rem !important;
    }

    main {
        height: 95vh !important;
        background: var(--dark-3);
        padding: 0 2rem !important;
    }

    a {
        font-size: 2rem;
        margin-bottom: 1rem;
        display: block;
    }

    a + a {
        margin-left: 0rem !important;
    }

    div {
        display: block !important;
        text-align: center;
    }

    nav .navigation {
        display: block !important;
        justify-content: space-between !important;
        align-items: center !important;
        height: 100% !important;
        position: fixed;
        top: 5vh;
        left: -100%; 
        transition: all .5s;
        background: var(--dark-12);;
        width: 100%;
    }

    nav .navigation-check {
        display: flex !important;
        height: 100% !important;
    } 
}